head
    title= title

    //- 
        Define block for meta data.
        Add global meta data in this template. 
        Add local meta data to the necessary template by appending it to this block.
    block meta
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no')

    //- 
        Define block for stylesheets.
        Add global stylesheets in this template. 
        Add local stylesheets to the necessary template by appending it to this block.
    block stylesheets
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet' href='https://js.arcgis.com/3.35/esri/css/esri.css')

    //- 
        Define block for scripts.
        Add global scripts in this template. 
        Add local scripts to the necessary template by appending it to this block.
    block scripts
        script(src='https://js.arcgis.com/3.35/')