<div role="presentation">
    <div class="${_css.container}">
        <div role="window" class="${_css.coordinatesWindow}">
            <span class={$_css.longitude}>
                Longitude: ${longitude}
            </span>
            <span class="$_css.latitude}">
                Latitude: ${latitude}
            </span>
        </div>
    </div>
</div>