<div role="presentation">
    <div class="${_css.container}">
        <div role="window" class="${_css.weatherWindow}">
            <!--TODO: add elements for weather data-->
        </div>
    </div>
</div>